.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
}